html,
body {
    height: 100%;
    font-family: Roboto,sans-serif;
}
.navbar{
    min-height: 50px;
    background-color: #f4f4f4;
    border-color: #f4f4f4;
    color: #0f0f0f;
}
.navbar-nav a{
    line-height: 50px;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus{
    color: #e9a665;
    background-color: #f4f4f4;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus{
    color: #e9a665;
}
.navbar-inverse .navbar-brand:hover, .navbar-inverse .navbar-brand:focus{
    color: #e9a665;
}
form[role=search] .inner-addon{
    background-color: #e4e4e4;
    color: #989898;
}
#searchbox{
    width: 305px;
    font-family: Roboto,sans-serif;
    font-style: italic;
    font-size: 17px;
    background-color: #e4e4e4;
    color: #989898;
    border-radius: 2px;
    line-height: 34px;
}
.wrap {
    background-color: #f4f4f4;
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}
.main_title{
    font-size: 40px;
    font-weight: 600;
    padding: 20px;
}

.inner-addon {
    position: relative;
}

/* style glyph */
.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

/* align glyph */
.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}

/* add padding  */
.left-addon input  { padding-left:  30px; }
.right-addon input { padding-right: 30px; }



.prev_img{
    max-width: 300px;
    max-height: 300px;
}
.prev_img_view{
    height: 200px;
    width: 200px;
}
.title-block{
    width: 200px;
}

.list-wrapper{
    text-align: center;
}
.post_container{
    width: 230px;
    padding: 10px;
    display: inline-block;
    margin-right: 15px;
    margin-bottom: 20px;
    color: #989898;
}
.white_block{
    background-color: white;
}
.post_container .img_block img{
    max-height: 250px;
    max-width: 250px;
}
.post_container .white_block{
    /*height: 50px;*/
}

.cover{
    object-fit: cover;
    width: 210px;
    height: 150px;
}
.post_icons_block{

    text-align: right;
    font-size: 12px;
    padding: 5px;
}
.post_icons_block .icon{
    margin-left: 10px;
}
.user_icon{
    max-width: 50px;
    max-height: 50px;
    border-radius: 50%;
}